body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

#soru-container {
  margin-bottom: 20px;
}

#secenekler label {
  display: block;
  margin-bottom: 10px;
}

#oncekiBtn,
#sonrakiBtn,
#cevaplaBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

#oncekiBtn:disabled,
#sonrakiBtn:disabled {
  background-color: #808080;
  cursor: not-allowed;
}

#sonuc-container {
  margin-top: 20px;
}

#sonuc-container h2 {
  margin-top: 0;
}
